/* Importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*Menu*/
  nav {
    position: relative;
}
.menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.close-button {
    display: none;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #fff;
    cursor: pointer;
}
#menuToggle {
    display: none;
}
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
    z-index: 1;
}
#menuToggle:checked + .menu-button + .overlay {
    transform: translateY(0);
}
#menuToggle:checked + .menu-button + .overlay .close-button {
    display: block;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.overlay-content a:hover, .overlay-content a:focus {
    color: #f1f1f1;
}

a {
    font-family: Titillium Web;
}